.menu {
  background: white;

  border-radius: 12px;
  
  box-shadow:0 10px 30px rgba(0,0,0,.12);
  
  padding: 10px;
  
  width: 180px;
  position: absolute;
  
  top: calc(100% + 8px);
  right: 0;

  
}

.form-menu {
  background: white;

  border-radius: 12px;
  
  box-shadow:0 10px 30px rgba(0,0,0,.12);
  
  padding: 10px;
  
  
  width: 180px;
  
  
}
.menu-buttons{
  display: flex;
  flex-direction: column;
  gap: 10px
  
}


.menu-item{
  padding: 10px 14px;
  border: none;
  display: flex;
  border-radius: 10px;
  gap: 13px;
  width: 160px;
  align-items: center;

  cursor: pointer;
}
.page {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-direction: column;
  width: 700px;
  margin: 40px auto;
 
}


*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  
}

.App{
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle,rgba(230, 67, 140, 1) 0%, rgba(148, 187, 233, 1) 100%);
  padding: 10px;
  
}
.lednice{
  width: 100%;
  max-width: 540px;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  background-color: #fff;
  
}

.skrin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}
/* CSS */
.list-card  {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  
  overflow: visible;
  min-height: 70px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  list-style: none;
  
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 1;
  will-change: box-shadow,transform;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  
}


.list-card.active {
  z-index: 100;
}
.list-info{
  font-family: "JetBrains Mono",monospace;
}

.add-list-card  {
  align-items: center;
  appearance: none;
  background-color: #4f46e5;
  
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(41, 10, 82, 0.4) 0 2px 4px,rgba(97, 87, 101, 0.3) 0 7px 13px -3px,#4d4be1 0 -3px 0 inset;
  box-sizing: border-box;
  color: #ebebec;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  
  width: 100%;
  min-height: 70px;
  justify-content: center;
  
  list-style: none;
  overflow: visible;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  will-change: box-shadow,transform;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  
}

.add-list-card:focus {
  box-shadow: #674bb5 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.add-list-card:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#4338ca 0 -3px 0 inset;
  transform: translateY(-2px);
}

.add-list-card:active {
  box-shadow: #4848b8 0 3px 7px inset;
  transform: translateY(2px);
}

.list-card:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.list-card:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.list-card:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}




/* CSS */
.button-66 {
  background-color: #4f46e5;
  border-radius: 30px;
  border: 0;
  box-shadow: rgba(84, 40, 193, 0.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flexbox;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  height: 50px;
  width: 160px;
  padding: 16px 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.button-66:hover {
  background-color: #6d329d;
  
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  
}

.change{
  font-size: 17px;
  height: 40px;
  user-select: none;
  align-items: center;
  display: flex;
  
  width: fit-content;
  
}

.polozka {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: large;
  
  
}

h2{
  color: #444b57;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 10px 8px 15px 20px;
  user-select: none;
  align-items: center;
  display: flex;
  gap: 10px;
  height: 70px;
}

ul li::before{
  content: " ";
  
}

.close-btn {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background: #f1f1f1;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.change-btn{
  width: 110px;
  height: 32px;
  border: none;
  border-radius: 10%;
  background: #f1f1f1;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.close-btn:hover, .change-btn:hover {
  background: #e0e0e0;
}

.close-btn:hover, .change-btn:active {
  background: #d0d0d0;
}


@media (max-width: 768px) {
  .button-66 {
    padding: 16px 44px;
    min-width: 60px;
  }

  
}
@media (max-width: 900px) {
  .homepage {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .homepage {
    grid-template-columns: 1fr;
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.45);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.list-dialog {
  width: 420px;
  background: white;

  border-radius: 18px;

  padding: 30px;

  box-shadow:
    0 20px 50px rgba(0,0,0,.18);

  animation: popup .2s ease;
}

.delete-list-dialog{
  width: 420px;
  background: white;
  
  
  border-radius: 18px;

  padding: 30px;

  box-shadow:
    0 20px 50px rgba(0,0,0,.18);

  animation: popup .2s ease;
}

.list-dialog h2 {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 30px;
}

.list-dialog label {
  display: block;

  margin-bottom: 10px;

  font-weight: 600;
}

.list-dialog input {
  width: 100%;

  padding: 14px;

  border: 2px solid #ddd;
  border-radius: 10px;

  font-size: 18px;

  box-sizing: border-box;
}

.list-dialog input:focus {
  outline: none;

  border-color: #5b6cff;
}

.dialog-buttons {
  display: flex;

  justify-content: flex-end;

  gap: 12px;

  margin-top: 30px;
}

.cancel-btn,
.create-btn {
  padding: 12px 22px;

  border: none;
  border-radius: 10px;

  cursor: pointer;

  font-size: 16px;
}

.cancel-btn {
  background: #ececec;
}

.create-btn {
  background: #4f46e5;
  color: white;
}

.create-btn:hover {
  background: #4338ca;
}

.cancel-btn:hover {
  background: #dcdcdc;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}